add-parent-path
requests
pytest
streamlit
openai
ollama
streamlit_msal
pydantic
streamlit-javascript
sqlalchemy
psycopg2
sqlmodel
loguru
chromadb-client
langchain-chroma
sentence-transformers
langchain-huggingface
langchain-text-splitters
huggingface_hub
minio
nbformat
nbconvert